{% load static %}
<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>Entre em contato</h4>
            <div class="contact_link_box">
              <a href="#"><i class="fa fa-map-marker"></i><span>Loclização</span></a>
              <a href="#"><i class="fa fa-phone"></i><span>Ligue +55 (65) 99226-2626</span></a>
              <a href="#"><i class="fa fa-envelope"></i><span>estacaoLiteraria@gmail.com</span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="#" class="footer-logo">Estação Literária</a>
            <p>Além de nossa biblioteca virtual, conheça nossa livraria Fisica</p>
            <div class="footer_social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>Aberto 24 horas</h4>
          <!-- Coloque o conteúdo desejado aqui -->
        </div>
      </div>
    </div>
  </footer>
  